body {
    font-size: 15pt;
    text-align: center;
    font-weight: 100pt;
    height: 100px;
    border: 100%;
    position: center;
}
input { 
  
  
  height: ;
  align-content: center;
}

p {
  
  height: 100pc;
   text-align: center;
  
}
button {
  
  
  position: center;
  height: 20pt;
  width: 78pt;
  background-image: url('Stickman_ad(1).png');
  color: bold
  border: 100px;
  
  
}

img {
  
  
  height: 150pt;
. text-align: center;
  
} 

.input2 {
  
  
  height: ;
  align-content: center;
}